torch==2.2.0
torchvision==0.17.0
torchmetrics
numpy
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core

black
isort
pre-commit

biopython
celery
flask-cors
flask_restx
flask
gunicorn
h5py
pymongo
ruamel.yaml
pyyaml
scikit-learn
sentry-sdk[flask]
appdirs
atomicwrites
gensim
scipy
